---
import BasisLayout from '../layout/BasisLayout.astro';
import Hero from '../components/Hero.astro';
import Bio from '../components/Bio.astro';
import Services from '../components/Services/Services.astro';
import Contact from '../components/Contact/Contact.astro';
import Footer from '../components/Footer.astro';

const hero_image = '/images/test.png';
---

<BasisLayout
	title="C.L.B"
	description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id magna ex. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id magna ex. In hac habitasse platea dictumst."
	url="https://margap.de/"
	image={ "https://margap.de" + hero_image }
	alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id magna ex. In hac habitasse platea dictumst."
>
	<Hero
		heading={'Lorem <span style="color: rgb(67, 88, 211);">Ipsum</span><br>dolor sit amet'}
		description={"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id magna ex. In hac habitasse platea dictumst."}
		image={ hero_image } 
		alt={"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id magna ex. In hac habitasse platea dictumst."}
		button={ {"href": "#services", "text": "Meine Leistungen"} }
		position="center"
	/>
	<Bio />
	<Services />
	<Contact />
	<Footer />
</BasisLayout>