---
import BasisLayout from '../layout/BasisLayout.astro';
import Hero from '../components/Hero.astro';
import Bio from '../components/Bio.astro';
import Services from '../components/Services/Services.astro';
import Contact from '../components/Contact/Contact.astro';
import Footer from '../components/Footer.astro';

var hero_image = '/images/haus_mit_gerüst.webp';
---

<BasisLayout
	title="MarGap - Dein Handwerker vor Ort"
	description="MarGap ist dein Handwerker vor Ort mit Qualität und fairen Preisen. Ich kann reparieren, renovieren, Boden legen, Trockenbau machen und hat ein Zertifikat im Brandschutz."
	url="https://margap.de/"
	image={ "https://margap.de" + hero_image }
	alt="Das grau-weiße Haus mit Gerüsten und Leitern außenherum, wo die Firma ihren Sitz hat. Der Parkplatz vor dem Haus (außer Fahrräder) ist leer."
>
	<Hero
		heading={'Dein <span style="color: rgb(166, 125, 109);">Handwerker</span><br>vor Ort'} 
		description={"Top Service alles aus einer Hand, hochwertige Baustoffe und bezahlbare Preise."} 
		image={ hero_image } 
		alt={"Das grau-weiße Haus mit Gerüsten und Leitern außenherum, wo die Firma ihren Sitz hat. Der Parkplatz vor dem Haus (außer Fahrräder) ist leer."}
		button={ {"href": "#services", "text": "Meine Leistungen"} }
		position="center"
	/>
	<Bio />
	<Services />
	<Contact />
	<Footer />
</BasisLayout>