---
import ContactOptions from "./ContactOptions.astro";
import Success from "../Success.astro";

const { service } = Astro.props
---

<section id="contact">
    <h1>
        Kontaktiere mich
    </h1>
    <div class="row">
        <form class="gform" method="POST" data-email="kontakt@margap.de" action="https://script.google.com/macros/s/AKfycbynxWlhrWMq6Ped73eQBzaQzl69P-ZdvTWa4jB01GG-JA9mdJ9DJpvYrbRCjRtZhNFXPw/exec">
            <h3>
                Ein Angebot anfragen
            </h3>
            <div class="row margin">
                <label>
                  <input required id="customer-name" name="Kundenname" autocomplete="name" placeholder="* Name" type="text" class="contact-input" />
                  Erforderlich: Ihr Name
                </label>
                <label>
                  <input required id="customer-mail" name="Kundenmail" autocomplete="email" placeholder="* E-Mail" type="email" class="contact-input" />
                  Erforderlich: Ihre E-Mail im abc@def.xyz Format
                </label>
            </div>
            <div class="row margin">
                <label>
                  <input required id="customer-number" name="Kundennummer" autocomplete="tel" placeholder="* Telefonnummer" type="tel" class="contact-input" />
                  Erforderlich: Ihre Telefonnummer
                </label>
                <label>
                  <select required id="service-type" value={ service? service : "" } name="Beanspruchter Service" autocomplete="off" class="contact-input dropdown-input">
                    { service? "" : <option value="" disabled selected>* Service auswählen</option> }
                    <ContactOptions selected={ service }/>
                  </select>
                  Erforderlich: Der Service den sie wollen.
                </label>
            </div>
            <label class="margin">
              <textarea required id="message" name="Nachricht" autocomplete="off" placeholder="* Nachricht mit Details...." rows="6" cols="48" class="message contact-input" />
              Erforderlich: Ein Text mit mehr Details zur Ihrer Anfrage.
            </label>
            <input id="send-request" value="Anfrage einreichen" type="submit" class="button-input" />

            <Success />
        </form>
        <aside>
            <h3>
                Kontakt Info
            </h3>
            <hgroup>
                <h4>Meine Adresse</h4>
                <p>
                    Martin Gapinski<br>
                    Im Fuchsloch 3<br>
                    60437 Frankfurt am Main<br>
                </p>
            </hgroup>
            <hgroup>
                <h4>Kontakt</h4>
                <p>
                    <b>Email:</b><br> <i>kontakt@margap.de</i><br>
                    <b>Telefonnummer:</b><br> <i>+49 157 59141563</i>
                </p>
            </hgroup>
            <hgroup>
                <h4>Öffnungszeiten</h4>
                <p>
                    Montag - Samstag<br>
                    7 Uhr - 18 Uhr
                </p>
            </hgroup>
        </aside>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: "Inter", sans-serif;
        color: white;

        background-image:
        url("/images/unfertiges_haus.webp"),
        linear-gradient(to bottom, rgb(25, 26, 25), rgba(25, 26, 25, 0.35));
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;

        padding: 1.5em;
    }

    h1 {
        font-family: "Poppins", sans-serif;
        font-size: xx-large;

        margin-top: 2.5rem;
    }

    form {
        background-color: rgb(121,85,72);

        border-radius: 15px;

        padding-top: 0.5rem;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 1.5rem;

        display: flex;
        flex-direction: column;
        
        width: max(50vw, 20em);
    }

    @media (max-width: 405px) {
        form {
            padding-left: 1.2em;
            padding-right: 1.2em;
        }
    }

    h3 {
        font-family: "Poppins", sans-serif;

        margin-left: 0;
        margin-bottom: 1.5rem;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;

        justify-content: space-evenly;
        align-items: center;
    }

    label {
      display: flex;
      flex-direction: column;
      flex: auto;
      gap: 0.5em;

      font-size: 0.8rem;
    }

    .margin {
        margin-bottom: 1rem;
    }

    .contact-input {
        font-family: "Inter", sans-serif;

        background-color: white;

        border-radius: 15px;

        padding-right: 3.5rem;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        border: solid transparent;
        outline: none;
        box-shadow: none;
    }

    .contact-input:focus {
        border: solid lightgray;
    }

    .dropdown-input {
        padding-right: 5.7rem;
        border-right: 1rem solid transparent;
        flex-grow: 1;
    }

    .dropdown-input:focus {
        border-right: 1rem solid transparent;
    }

    .dropdown-input:invalid {
        color: rgb(106, 106, 106);
    }

    .message {
        resize: none;
    }

    .button-input {
        font-family: "Inter", sans-serif;
        color: white;
        
        border: none;
        border-radius: 15px;

        padding: 1rem;

        background-color: rgb(25, 26, 25);
    }

    .button-input:hover {
        background-color: rgb(43, 44, 43);

        cursor: pointer;
    }

    .button-input:disabled {
        background-color: rgb(43, 44, 43);

        cursor: default;
    }

    aside {
        background-color: rgb(121,85,72);

        border-radius: 15px;

        padding-top: 0.5rem;
        padding-left: 2.0rem;
        padding-right: 2rem;
        padding-bottom: 1.5rem;

        display: flex;
        flex-direction: column;

        height: fit-content;
        
        flex-grow: 0.4;
    }

    h4 {
        font-family: "Poppins", sans-serif;
        margin-bottom: 0.5rem;
        margin-top: 1.0rem;
    }

    p {
        font-family: "Inter", sans-serif;
        margin-top: 0.5rem;
    }

</style>

<script data-cfasync="false" type="text/javascript">
!function(){function e(e){e.preventDefault();var t,n,r,a,o,i=e.target,l=(a=Object.keys(r=(t=i).elements).filter(function(e){return"honeypot"!==r[e].name||(n=r[e].value,!1)}).map(function(e){return void 0!==r[e].name?r[e].name:r[e].length>0?r[e].item(0).name:void 0}).filter(function(e,t,n){return n.indexOf(e)==t&&e}),o={},a.forEach(function(e){var t=r[e];if(o[e]=t.value,t.length){for(var n=[],a=0;a<t.length;a++){var i=t.item(a);(i.checked||i.selected)&&n.push(i.value)}o[e]=n.join(", ")}}),o.formDataNameOrder=JSON.stringify(a),o.formGoogleSheetName=t.dataset.sheet||"responses",o.formGoogleSendEmail=t.dataset.email||"",{data:o,honeypot:n}),u=l.data;if(l.honeypot)return!1;var d=i.querySelector(".button-input");d.disabled=!0,d.value="Anfrage eingereicht";var s=i.querySelector(".thankyou_message");s&&(s.style.display="block"),function e(t){for(var n=t.querySelectorAll("button"),r=0;r<n.length;r++)n[r].disabled=!0}(i);var f=i.action,c=new XMLHttpRequest;c.open("POST",f),c.setRequestHeader("Content-Type","application/x-www-form-urlencoded"),c.onreadystatechange=function(){if(4===c.readyState&&200===c.status){i.reset();var e=i.querySelector(".form-elements");e&&(e.style.display="none"),s.querySelector("h3").textContent="Danke f\xfcr das Einreichen! Ich werde Ihnen bald antworten."}};var m=Object.keys(u).map(function(e){return encodeURIComponent(e)+"="+encodeURIComponent(u[e])}).join("&");c.send(m)}document.addEventListener("DOMContentLoaded",function t(){for(var n=document.querySelectorAll("form.gform"),r=0;r<n.length;r++)n[r].addEventListener("submit",e,!1)},!1)}();
</script>