<header>
    <nav>
        <a href="/">
            <h1>MarGap</h1>
        </a>
        <a href="/#contact" class="button">
            <span class="material-icons-outlined">email</span>
            <h3>
                Kontaktiere mich
            </h3>
        </a>
    </nav>
</header>

<style>
    header {
        background-color: rgb(25, 26, 25);
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-left: max(5vw, 2em);
        padding-right: max(5vw, 2em);
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }

    h1 {
        color: rgb(137, 101, 88);

        margin-top: 0.6em;
        margin-bottom: 0.6em;

        font-family: "Yeseva One", serif;
        font-variant: small-caps;
        font-size: xx-large;
    }

    a {
        text-decoration: none;
    }

    .button {
        display: flex;
        align-items: center;

        background-color: rgb(121,85,72);
        border-radius: 15px;

        color: rgb(255, 255, 255);

        font-family: "Inter", sans-serif;
        font-size: small;

        padding-left: 1.3rem;
        padding-right: 1.3rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }

    h3 {
        margin: 0;
        font-weight: 400;
    }

    span {
        margin-right: 0.5rem;
    }

    @media (max-width: 513px) {
        h3 {
            display: none;
        }

        span {
            margin-right: 0;
        }

        .button {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
</style>