<header>
    <nav>
        <a href="/" class="logo">
            <h1 class="logo-c">C</h1>
            <h1 class="logo-first-dot">.</h1>
            <h1 class="logo-l">L</h1>
            <h1 class="logo-second-dot">.</h1>
            <h1 class="logo-b">B</h1>
        </a>
        <a href="/#contact" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="21" width="21" viewBox="0 0 512 512"><path fill="#ffe9e9" d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"/></svg>
            <h3>
                Kontaktiere mich
            </h3>
        </a>
    </nav>
</header>

<style>
    header {
        background-color: rgb(229, 232, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-left: max(5vw, 2em);
        padding-right: max(5vw, 2em);

        border-radius: 0 0 10px 15px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }

    h1 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;

        font-family: "Merriweather", serif;
        font-size: xx-large;
    }

    a {
        text-decoration: none;
    }

    .logo {
        display: flex;
    }

    .logo-c {
        color: rgb(67, 88, 211);
    }

    .logo-first-dot {
        color: rgb(218, 68, 68);
    }

    .logo-l {
        color: rgb(67, 88, 211);
    }

    .logo-second-dot {
        color: rgb(67, 88, 211);
    }

    .logo-b {
        color: rgb(218, 68, 68);
    }

    .button {
        display: flex;
        align-items: center;

        background-color: rgb(218, 68, 68);
        border-radius: 10px;

        color: rgb(255, 233, 233);

        font-family: "Open Sans", sans-serif;
        font-size: small;

        padding: 0.9rem 1.3rem;
    }

    .button:hover {
        background-color: rgb(227, 94, 94);
    }

    h3 {
        margin: 0;
        font-weight: 400;
    }

    .icon {
        margin-right: 0.5rem;
    }

    @media (max-width: 545px) {
        header {
            border-radius: 0;
        }
    }

    @media (max-width: 513px) {
        h3 {
            display: none;
        }

        .icon {
            margin-right: 0;
        }

        .button {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
</style>