---
import { Image } from "astro:assets";
const { heading, description, image, alt, button, position } = Astro.props
---

<aside>
    <div class="image-overlay"></div>
        <Image src={ image } alt={ alt } />
    </div>
    <div class="padding">
        <hgroup>
            <h1 set:html={heading}>
            </h1>
            <p>
                { description }
            </p>
        </hgroup>
        <a href={ button["href"] }>
            { button["text"] }
            <span class="material-icons-outlined">arrow_circle_right</span>
        </a>
    </div>
</aside>

<style define:vars={{position}}>
    aside {
        display: flex;
        flex-direction: column;

        font-family: "Inter", sans-serif;
    }

    .image-overlay::after {
        content: '';

        position: absolute;

        width: 100%;
        height: 45em;

        background: linear-gradient(to right, rgb(25, 26, 25), rgba(25, 26, 25, 0.35));

        z-index: -1;
    }

    img {
        pointer-events: none;
        position: absolute;
        object-fit: cover;
        object-position: var(--position);

        width: 100%;
        height: 45em;

        z-index: -2;
    }

    .padding {
        display: flex;
        flex-direction: column;

        padding-top: 7rem;
        padding-bottom: 7rem;
        padding-left: max(5vw, 0.5rem);
    }

    hgroup {
        color: white;
    }

    h1 {
        font-size: 3.5rem;

        margin-top: 0;
        margin-bottom: 2rem;

        font-family: "Poppins", sans-serif;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        max-width: 34rem;
    }

    a {
        background-color: rgb(121,85,72);
        color: rgb(255, 255, 255);

        border-radius: 15px;

        font-family: "Inter", sans-serif;
        font-size: large;
        text-decoration: none;

        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;

        align-items: center;
        display: flex;
        max-width: fit-content;
    }

    a > span {
        padding-left: 0.5rem;
    }

    @media (max-width: 545px) {
        .padding {
            padding-left: 1em;
            padding-right: 1em;

            justify-items: center;
            align-items: center;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .image-overlay::after {
            background: linear-gradient(to bottom, rgb(25, 26, 25), rgba(25, 26, 25, 0.6));
        }
    }

</style>