---
const { images, descriptions } = Astro.props;
---

{
    images.map((image, index) => (
        <figure>
            <div class="image-overlay">
                <img src={image} alt={descriptions[index]} loading="lazy" decoding="async"/>
            </div>
            <figcaption>
                <p>
                    { descriptions[index] }
                </p>
            </figcaption>
        </figure>
    ))
}

<style>
    figure {
        position: relative;

        width: 40vw;
        max-width: 450px;

        margin-left: 2rem;
        margin-right: 2rem;
    }

    img {
        position: relative;

        width: 40vw;
        max-width: 450px;
        height: 30em;

        object-fit: cover;

        border-radius: 15px;
    }

    @media (max-width: 700px) {
        figure {
            width: fit-content;
            max-width: fit-content;
        }

        img {
            width: 80vw;
            max-width: 80vw;
        }
    }

    figcaption {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    p {
        word-break: break-all;
        color: rgb(0, 24, 49);
    }

    .image-overlay::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(to top, rgba(229, 232, 255, 1), rgba(229, 232, 255, .25));

        border-radius: 15px;
    }
</style>