---
import { Image } from "astro:assets";
const { images, descriptions } = Astro.props;
---

{
    images.map((image, index) => (
        <figure>
            <div class="image-overlay">
                <Image src={image} alt={descriptions[index]}/>
            </div>
            <figcaption>
                <hgroup>
                    <p>
                        {descriptions[index]}
                    </p>
                </hgroup>
            </figcaption>
        </figure>
    ))
}

<style>
    figure {
        position: relative;

        width: max(25vw, 21em);

        margin-left: 2rem;
        margin-right: 2rem;
    }

    img {
        position: relative;

        width: max(25vw, 21em);
        height: 30em;

        object-fit: cover;

        border-radius: 15px;
    }

    figcaption {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    hgroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2 {
        margin-bottom: 0;
        font-family: "Poppins", sans-serif;
        font-size: x-large;
    }

    @media (max-width: 530px) {
        p {
            width: 15em;
        }
    }

    .image-overlay::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(to top, rgb(25, 26, 25), rgba(25, 26, 25, 0));

        border-radius: 15px;
    }
</style>