---
import Header from '../components/Header.astro';

import '@fontsource/merriweather/400.css'
import '@fontsource/open-sans/400.css'
import '@fontsource/nunito/800.css'
import '@fontsource/windsong/400.css'
import SEOComponent from "../components/SEOComponent.astro";

const test_image = "/images/test.png";

const { title, description, url, image, alt } = Astro.props
---

<html lang="de">
	<head>
		<SEOComponent 
			title={ title }
			description={ description }
			url={ url }
			image={ image }
			alt={ alt }
		/>

		<!-- TODO: CHANGE -->
		<script type="application/ld+json" set:html=
		{
			JSON.stringify({
				"@context": "https://schema.org",
				"@type": "HomeAndConstructionBusiness",
				"name": "MarGap - Dein Handwerker vor Ort",
				"image": [
					"https://margap.de" + test_image,
				],
				"address": {
					"@type": "PostalAddress",
					"addressCountry": "DE",
					"addressLocality": "Frankfurt",
					"addressRegion": "Hessen",
					"postalCode": "60437",
					"streetAddress": "Im Fuchsloch 3"
				},
				"geo": {
					"@type": "GeoCoordinates",
					"latitude": 50.207745,
					"longitude": 8.703473
				},
				"url": "https://margap.de/",
				"telephone": "+4915759141563",
				"priceRange": "$$",
				"openingHoursSpecification": [
					{
						"@type": "OpeningHoursSpecification",
						"dayOfWeek": [
							"Monday",
							"Tuesday",
							"Wednesday",
							"Thursday",
							"Friday",
							"Staturday"
						],
						"opens": "7:00",
						"closes": "18:00"
					}
				]
			})
		}
		/>

		<meta name="author" content="VORNAME NACHNAME" /> <!-- TODO: CHANGE -->

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		
		<link rel="sitemap" href="/sitemap-0.xml">

		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
        <Header />
        <slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}

	html, body {
		margin: 0;
		padding: 0;
	}

	body {
		background-color: rgb(229, 232, 255);
	}
</style>

<script>
	console.log(`       ,--.                                                ,---._                          ,--.
   ,--/  /|              ,-.----.             .---.      .-- -.' \\    ,---,              ,--.'|
,---,': / '         ,--, \\    /  \\           /. ./|      |    |   :  '  .' \\         ,--,:  : |
:   : '/ /        ,'_ /| ;   :    \\      .--'.  ' ;      :    ;   | /  ;    '.    ,\`--.'\`|  ' :
|   '   ,    .--. |  | : |   | .\\ :     /__./ \\ : |      :        |:  :       \\   |   :  :  | |
'   |  /   ,'_ /| :  . | .   : |: | .--'.  '   \\' .      |    :   ::  |   /\\   \\  :   |   \\ | :
|   ;  ;   |  ' | |  . . |   |  \\ :/___/ \\ |    ' '      :         |  :  ' ;.   : |   : '  '; |
:   '   \\  |  | ' |  | | |   : .  /;   \\  \\;      :      |    ;   ||  |  ;/  \\   \\'   ' ;.    ;
|   |    ' :  | | :  ' ; ;   | |  \\ \\   ;  \`      |  ___ l         '  :  | \\  \\ ,'|   | | \\   |
'   : |.  \\|  ; ' |  | ' |   | ;\\  \\ .   \\    .\\  ;/    /\\    J   :|  |  '  '--'  '   : |  ; .'
|   | '_\\.':  | : ;  ; | :   ' | \\.'  \\   \\   ' \\ /  ../  \`..-    ,|  :  :        |   | '\`--'
'   : |    '  :  \`--'   \\:   : :-'     :   '  |--"\\    \\         ; |  | ,'        '   : |
;   |,'    :  ,      .-./|   |.'        \\   \\ ;    \\    \\      ,'  \`--''          ;   |.'
'---'       \`--\`----'    \`---'           '---"      "---....--'                   '---'
#----------------------------------------------------------------------------------------------#
Made by Dacjan Gapinski (https://github.com/kurwjan)
`)
</script>